body {
  font-family: "Roboto", serif;
}

@media (min-width: 1200px) {
  /* Extra Large screens */
  .container {
    max-width: 1120px;
  }
  .heroSection {
    margin-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 992px) {
  .heroSection {
    margin-left: calc((100% - 960px) / 2);
  }
}
@media (min-width: 768px) {
  .heroSection {
    margin-left: calc((100% - 720px) / 2);
  }
}
@media (min-width: 576px) {
  .heroSection {
    margin-left: calc((100% - 540px) / 2);
  }
}

.navHeroSectionWrapper {
  background-image: url(../img/heroSectionBG.png);
  background-repeat: no-repeat;
  background-position-x: 545px;
  background-size: 1040px;
  padding-bottom: 80px;
}

.logo {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0px;
  color: #37447e !important;
  text-decoration: none;
}

.mainHeading {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
  margin-bottom: 18px;
  color: #091133;
}

.sectionText {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #6f7cb2;
}

.navbar-nav {
  gap: 60px;
}

.navbar-nav .nav-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #505f98;
}

.heroSection {
  padding-top: 185px;
}

.heroSection h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
}

.heroSectionText {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #505f98;
  max-width: 82%;
}

.ctaWrapper {
  gap: 30px;
}

.ctaMain {
  width: 189px;
  height: 36px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

.ctaDark {
  background-color: #091133;
  color: #fff;
}

.ctaOutline {
  border: 2px solid #091133;
  color: #091133;
}

.btn-dark {
  background-color: #000;
  border: none;
}

.btn-outline-dark {
  border: 1px solid #000;
}

.herImgWrapper {
  max-width: 650px;
  min-height: 780px;
}

.herImgWrapper img {
  position: absolute;
  right: 0;
}

.containerWrapper {
  padding: 110px 0;
}

.feature-row {
  margin-top: 80px;
}

.feature-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #091133;
}

.feature-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #6f7cb2;
  max-width: 95%;
}

.feature-img-icon {
  width: 36px;
  height: 36px;
}
.powerFulSectionImgWrap {
  max-width: 540px;
  min-height: 525px;
}

.imgWrapper {
  max-width: 480px;
  min-height: 315px;
}

.pricingSection {
  background-color: #f5f6ff;
  position: relative;
  padding-bottom: 170px;
}
.curveImg {
  position: absolute;
  top: 0;
}

.pricingContentWrapper {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 90px;
}
.pricingText {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #222f65;
  margin-bottom: 0;
}

.text-product {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 60px;
}

.text-muted {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #5d6970;
  margin-bottom: 10px;
}
.purchase-btn {
  background-color: #1a1f3c;
  color: white;
  border: none;
  width: 189px;
  height: 32px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

.footer {
  background-color: #e7ecff;
  padding: 20px 0;
  text-align: center;
}

.navFooter {
  gap: 60px;
  display: flex;
  align-items: center;
}

.footer hr {
  margin: 35px 0 25px;
}

.navFooter a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #929ecc;
  text-decoration: none;
  margin: 0;
}

.navFooter a:hover {
  color: #343a40;
}

.social-icons {
  gap: 30px;
  display: flex;
  align-items: center;
}

.social-icons a {
  font-size: 18px;
  margin: 0 5px;
  color: #6c757d;
}
.social-icons a:hover {
  color: #343a40;
}
.subscriptionBtn {
  width: 110px;
  height: 26px;
  border-radius: 2px;
  background-color: #111b47;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}
.copywriteText {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #939ea4;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .herImgWrapper {
    max-width: 400px;
    min-height: 500px;
  }

  .herImgWrapper img {
    max-width: 70%;
  }

  .heroSection h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .heroSectionText {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 991px) {
  .heroSection {
    padding-top: 100px;
  }
  .herImgWrapper img {
    max-width: 90%;
  }
}
/*
@media (max-width: 575px) {
  .imgWrapper {
    max-width: 100%;
    min-height: 100%;
  }
} */

@media (max-width: 575px) {
  .imgWrapper {
    max-width: 100%;
    min-height: 100%;
  }
}
